SECRET_KEY=cambia-esto-por-una-clave-larga-y-secreta
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,IP_PUBLICA_DE_TU_EC2
DB_ENGINE=django.db.backends.mysql
DB_NAME=blockbuster
DB_USER=user_blockbuster
DB_PASSWORD=cambia_esta_clave
DB_HOST=localhost
DB_PORT=3306
