[Unit]
Description=Sistema de Gestion de Resultados La Serena
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/var/www/negocio
EnvironmentFile=/var/www/negocio/.env
ExecStart=/var/www/negocio/.venv/bin/gunicorn --workers 3 --bind unix:/run/laserena.sock laserena.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
