{% extends 'base.html' %}
{% block titulo %}Blockbuster - Inicio{% endblock %}
{% block contenido %}
<div class="row m-4">
    <div class="col-12 text-center mb-4">
        <h1><i class="bi bi-film"></i> Blockbuster</h1>
        <p class="lead">Sistema de gestión de arriendo de películas</p>
    </div>
    <!-- inicio card app1 -->
    <div class="col-lg-5 col-md-6 col-sm-12 offset-lg-1 mb-3">
        <div class="card">
            <div class="card-body text-center">
                <h1><i class="bi bi-camera-reels"></i></h1>
                <h5 class="card-title">Catálogo de Películas</h5>
                <p class="card-text">Películas, géneros y directores. Total de películas: {{ total_peliculas }}.</p>
                <a href="{% url 'catalogo_home' %}" class="btn btn-primary">Ir al Catálogo</a>
            </div>
        </div>
    </div>
    <!-- fin card app1 -->
    <!-- inicio card app2 -->
    <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
        <div class="card">
            <div class="card-body text-center">
                <h1><i class="bi bi-people"></i></h1>
                <h5 class="card-title">Clientes y Arriendos</h5>
                <p class="card-text">Clientes y arriendos de películas. Total de clientes: {{ total_clientes }}.</p>
                <a href="{% url 'clientes_home' %}" class="btn btn-primary">Ir a Clientes</a>
            </div>
        </div>
    </div>
    <!-- fin card app2 -->
</div>
{% endblock %}
