{% extends 'base.html' %}
{% block titulo %}Blockbuster - Directores{% endblock %}
{% block contenido %}
{% url 'admin:catalogoApp_director_add' as agregar_url %}
{% url 'admin:catalogoApp_director_changelist' as listado_url %}
<div class="row mt-3">
    <div class="col-md-4 h3">Mantenedor de Directores</div>
    <div class="col-md-5">{% include '_buscador.html' %}</div>
    <div class="col-md-3 text-end">
        {% include '_acciones.html' with agregar_url=agregar_url modificar_url=listado_url eliminar_url=listado_url %}
    </div>
</div>
<div class="row mt-3">
    <div class="col table-responsive">
        <table class="table table-striped table-hover table-dark">
            <thead><tr><th>#</th><th>Nombre</th><th>Nacionalidad</th><th>Acciones</th></tr></thead>
            <tbody>
                {% for d in directores %}
                <tr>
                    <td>{{ d.id }}</td>
                    <td>{{ d.nombre }}</td>
                    <td>{{ d.nacionalidad }}</td>
                    <td>
                        <a href="{% url 'admin:catalogoApp_director_change' d.pk %}" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i> Modificar</a>
                        <a href="{% url 'admin:catalogoApp_director_delete' d.pk %}" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i> Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="4" class="text-center">No hay directores registrados.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
